  body {
    background-color: #f4f4f9;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  @keyframes flash_text {
    0% {  color: rgb(255, 0, 0);  font-size : 25px;} 
    25% { color: rgb(238, 255, 0);  font-size : 26px;} 
    50% { color: rgb(0, 255, 81);  font-size : 24px;}
    75% { color: rgb(17, 0, 255);  font-size : 26px;} 
    100% { color: rgb(230, 0, 255);  font-size : 25px;} 
  }

  .blt {
    animation: flash_text 0.2s infinite; 
    font-weight: bold;
  }

 header {
  width: 100%; 
  background-color: rgb(25, 31, 195);
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(29, 26, 26, 0.2);
  text-align: center; 
  color: white;
  }

 nav {
  width: 100%; 
  background-color: rgb(25, 90, 195);
  padding: 30px;
  box-shadow: 0 4px 8px rgba(29, 26, 26, 0.2);
  color: white;
  display: flex;
  gap: 30px;
  }

  section {
    width: 100%; 
    height: 400px;
    background-color: rgb(205, 205, 205);
    display: flex;
    gap: 30px;
    padding: 30px;
    flex-direction: column;
  }

  section h3{
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

  footer {
  width: 100%; 
  background-color: rgb(25, 31, 195);
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(29, 26, 26, 0.2);
  text-align: center; 
  color: white;
  }